Repository itracksy/itracksy: changes, and which lefthook commands are due for each by the changed paths.
All: format, test

lefthook.yml:

# itracksy Lefthook Configuration

pre-commit:
  parallel: true
  commands:
    type-check:
      run: npm run type-check

    # Format files with Prettier
    format:
      glob: "**/*.{ts,tsx,json,css}"
      run: npx prettier --write {staged_files}
      stage_fixed: true

    # Run tests for changed files
    test:
      glob: "src/**/*.{ts,tsx}"
      exclude: '\.(test|spec)\.(ts|tsx)$'
      run: npx jest --bail --findRelatedTests --passWithNoTests {staged_files}

commit-msg:
  commands:
    message-validation:
      run: |
        msg=$(cat {1})
        if [ ${#msg} -lt 10 ]; then
          echo "❌ Commit message too short (minimum 10 characters)"
          exit 1
        fi
        echo "✅ Commit message validated"

feat: add manual pause/resume for focus sessions and improve UI
  src/api/routers/systemState.ts
  src/api/routers/timeEntry.ts
  src/api/routers/user.ts
  src/api/services/sessionPause.ts
  src/helpers/ipc/clock/clock-listeners.ts
  src/helpers/theme_helpers.ts
  src/pages/focus/components/ActiveSession.tsx
  src/pages/focus/index.tsx
  src/renderer/clock/ClockApp.tsx
Due: format, test

chore: bump version to 1.0.257
  package.json
Due: none

fix: add Color Theme selector and theme variant support
  src/hooks/useAppearancePreferences.ts
  src/lib/types/user-preferences.ts
  src/pages/settings-page/components/tabs/AppearanceTab.tsx
  src/styles/design-tokens.css
  src/styles/global.css
  src/styles/theme-variants.css
  tailwind.config.js
Due: format, test

chore: bump version to 1.0.258
  package.json
Due: none

fix: connect notification settings to notification services
  package.json
  src/api/services/focusReminders.ts
  src/api/services/notification.ts
  src/api/services/trackingIntervalActivity.ts
Due: format, test

chore: bump version to 1.0.260
  package.json
Due: none

feat: add analytics board filtering and manual focus time entry
  src/api/routers/dashboard.ts
  src/api/services/dashboard.ts
  src/api/services/focusPerformance.ts
  src/components/tracking/ManualFocusEntryDialog.tsx
  src/context/timeRange.ts
  src/pages/dashboard/components/AnalyticsBoardSelector.tsx
  src/pages/dashboard/components/FocusPerformanceChart.tsx
  src/pages/dashboard/components/HourlyFocusChart.tsx
  src/pages/dashboard/components/ProjectTimeChart.tsx
  src/pages/dashboard/index.tsx
  src/pages/focus/index.tsx
  src/pages/reports/ReportsPage.tsx
  src/pages/settings-page/components/tabs/FocusTab.tsx
Due: format, test

chore: bump version to 1.0.261
  package.json
Due: none

feat: redesign Activity Classification and Rule Book pages with improved UX
  src/App.tsx
  src/api/routers/dashboard.ts
  src/api/services/activityHeatmap.ts
  src/api/services/activityRules.ts
  src/api/services/trackingIntervalActivity.ts
  src/components/rules/rule-dialog.tsx
  src/helpers/blocking-notification/blocking-notification-utils.ts
  src/helpers/ipc/blocking-notification/blocking-notification-listeners.ts
  src/helpers/ipc/context-exposer.ts
  src/helpers/ipc/navigation/navigation-context.ts
  src/main.ts
  src/pages/dashboard/components/ActivityHeatmap.tsx
  src/pages/focus/components/ActiveSession.tsx
  src/pages/focus/index.tsx
  src/pages/new-activity-classification/components/activity-group.tsx
  src/pages/new-activity-classification/components/activity-item.tsx
  src/pages/new-activity-classification/components/domain-group.tsx
  src/pages/new-activity-classification/components/quick-classify.tsx
  src/pages/new-activity-classification/components/rules-badge.tsx
  src/pages/new-activity-classification/components/session-card.tsx
  src/pages/new-activity-classification/components/session-list.tsx
  src/pages/new-activity-classification/components/summary-card.tsx
  src/pages/new-activity-classification/page.tsx
  src/pages/rule-book/index.tsx
  src/preload/blocking-notification.ts
  src/renderer/blocking-notification/BlockingNotificationApp.tsx
  src/renderer/blocking-notification/index.html
  src/routes/routes.tsx
  src/types/rule.ts
  src/utils/activityUtils.ts
Due: format, test

chore: bump version to 1.0.262
  package.json
Due: none

feat: add expandable Categories & Activities view with session type indicators
  .claude/settings.local.json
  CLAUDE.md
  MIGRATION_GUIDE.md
  QUICK_START_GUIDE.md
  logo.svg
  package-lock.json
  scripts/restart.sh
  scripts/svg-to-icons.js
  src/api/routers/category.ts
  src/api/services/category/auto-categorize.ts
  src/api/services/category/index.ts
  src/hooks/useCategoryQueries.ts
  src/pages/categorization/components/CategoryActivitiesCard.tsx
  src/pages/categorization/index.tsx
  src/styles/README.md
Due: format, test

chore: bump version to 1.0.263
  package.json
Due: none

fix: auto-update not working after clicking restart
  .claude/settings.local.json
  forge.config.ts
  package-lock.json
  package.json
  src/main.ts
Due: format

chore: bump version to 1.0.265
  package.json
Due: none

feat: redesign categorization with smart auto-categorization
  src/api/routers/category.ts
  src/api/services/category/app-metadata.ts
  src/api/services/category/auto-categorize.ts
  src/api/services/category/index.ts
  src/hooks/useCategoryQueries.ts
  src/pages/categorization/components/AutoSetupWizard.tsx
  src/pages/categorization/components/CategoryManagement.tsx
  src/pages/categorization/components/QuickCategorize.tsx
  src/pages/categorization/index.tsx
Due: format, test

feat: redesign analytics dashboard and improve task switching UX
  src/components/tracking/TimeEntryDialog.tsx
  src/pages/dashboard/components/ActivityHeatmap.tsx
  src/pages/dashboard/components/CategoryBreakdown.tsx
  src/pages/dashboard/components/DayTimeline.tsx
  src/pages/dashboard/components/FocusPulse.tsx
  src/pages/dashboard/components/FocusTrends.tsx
  src/pages/dashboard/components/PeakHoursAnalysis.tsx
  src/pages/dashboard/components/ProductivityInsights.tsx
  src/pages/dashboard/components/TopApps.tsx
  src/pages/dashboard/index.tsx
  src/pages/focus/index.tsx
  src/pages/projects/components/Card.tsx
  src/pages/projects/components/ItemDetailDialog.tsx
  src/pages/projects/page.tsx
  src/pages/reports/ReportsPage.tsx
  src/pages/scheduling/index.tsx
Due: format, test

chore: bump version to 1.0.266
  package.json
Due: none

fix: hide timer display for unlimited focus mode
  src/pages/focus/components/ActiveSession.tsx
Due: format, test

chore: bump version to 1.0.267
  package.json
Due: none

fix: replace electron auto-update with custom version checker
  src/App.tsx
  src/main.ts
  src/pages/new-activity-classification/components/quick-classify.tsx
Due: format, test

fix: apply rules to existing activities after quick classification
  src/pages/new-activity-classification/components/quick-classify.tsx
Due: format, test

fix: reduce log noise in tracking service
  src/api/services/trackingIntervalActivity.ts
Due: format, test

feat: redesign sidebar with grouped sections and modern styling
  src/components/BottomSideBar.tsx
  src/components/app-sidebar.tsx
Due: format, test

chore: bump version to 1.0.268
  package.json
Due: none

feat: redesign Focus Music page with modern card-based layout
  src/pages/music/index.tsx
Due: format, test

chore: bump version to 1.0.269
  package.json
Due: none

chore: bump version to 1.0.270
  package.json
Due: none

feat: redesign clock window with modern UI/UX
  src/renderer/clock/ClockApp.tsx
  src/renderer/clock/clock.css
Due: format, test

chore: bump version to 1.0.271
  package.json
Due: none

chore: bump version to 1.0.272
  package.json
Due: none

fix: use app logo in sidebar header instead of generic icon
  src/components/app-sidebar.tsx
Due: format, test

fix: hide activities with less than 1 minute duration in categories
  src/pages/categorization/components/CategoryActivitiesCard.tsx
Due: format, test

feat: add Top Apps Today column and compact header in categorization
  src/pages/categorization/index.tsx
Due: format, test

fix: show overtime as positive value and simplify categorization page
  src/pages/categorization/index.tsx
  src/pages/focus/components/ActiveSession.tsx
Due: format, test

chore: bump version to 1.0.273
  package-lock.json
  package.json
Due: none

chore: bump version to 1.0.274
  package.json
Due: none

feat: add database path display in settings
  .claude/settings.local.json
  package-lock.json
  src/api/routers/utils.ts
  src/pages/settings-page/components/AboutSection.tsx
Due: format, test

feat: add open folder button for database location
  src/pages/settings-page/components/AboutSection.tsx
Due: format, test

fix: ensure database path is always absolute
  src/api/routers/utils.ts
Due: format, test

fix: only show Advanced Settings in development mode
  src/api/routers/utils.ts
  src/pages/settings-page/components/tabs/SystemTab.tsx
Due: format, test
